body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    cursor: url(img/99922c2848da6a14b8b005d97453c5ff.webp), auto;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.103);
}
nav:hover{
    background-color: rgba(255, 255, 255, 0.103);
    
}
#navbar{
    position: absolute;
}
#asd{
    color: rgba(255, 255, 255, 0.164);
    display: inline-block;
}
#asd:hover{
animation: navbar 0.5s both alternate;
}
@keyframes navbar {
    from{ font-size: 100%;  background-color: rgba(255, 255, 255, 0.103)}
    to{color: rgba(255, 255, 255, 0.514); font-size: 130%;  background-color: rgba(255, 255, 255, 0.219); border-radius: 40px; transform: translateY(10px);}
}

.display-6, .display-4{
    color: #fff1f177;
    font-family:cursive ;
}
footer{
    color: rgba(255, 255, 255, 0.527);
}
@keyframes szivarvany {
    0% { color: #ff0000; } 
    16.666% { color: #ff7f00; } 
    33.333% { color: #ffff00; } 
    50% { color: #00ff00; } 
    66.666% { color: #0000ff; } 
    100% { color: #9400d3; } 
}

#csilivili {
    animation: szivarvany 5s infinite both;
    text-shadow:3px 3px 10px grey;
    font-size: 25px;
}
#csilivili:hover{
    cursor: url(img/db52b5ec9197647e5d5db65f638a8a58.webp), auto; 
}
#kártya{
    color: rgba(255, 255, 255, 0.377);
    background-color: rgba(255, 255, 255, 0.11);
}
#alma{
    width: 100%;
}
#alpaka{
 width: 100%;
}
.video{
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.11);
    margin-top: 60px;
    box-shadow: 5px 10px 10px rgba(255, 115, 0, 0.219), -5px -10px 10px rgba(238, 255, 0, 0.212);
}
main{
    overflow: auto;
}