body{
    font-family: 'Roboto', sans-serif;
}
#asd{
    color: rgba(255, 255, 255, 0.377);
}
  
.video{
    box-shadow: 10px 10px 10px #333, -10px -10px 10px #333;
    padding: 20px;
    margin-top: 50px;
    width:100%;
    border: 2px solid #333;
    border-top-right-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;

}
.display-6{
    color: #fff1f177;
    font-family:cursive ;
}
footer{
    color: rgba(255, 255, 255, 0.527);
}
@keyframes szivarvany {
    0% { color: #ff0000; } 
    16.666% { color: #ff7f00; } 
    33.333% { color: #ffff00; } 
    50% { color: #00ff00; } 
    66.666% { color: #0000ff; } 
    100% { color: #9400d3; } 
}

#csilivili {
    animation: szivarvany 5s infinite both;
    text-shadow:3px 3px 10px grey;
    font-size: 25px;
}
