
#asd{
    font-weight: 500;
    color: darkslategrey;
    font-family: 'Poppins', sans-serif;
}
.display-6{
    text-align: center;
    padding-bottom: 10px;
}
p{
    padding-left: 200px;
    padding-right: 200px;
}
.h-2{
    font-weight: lighter;
    font-size:30px;
}